/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	font-family: 'Sriracha', cursive;
}

.navigation {
	height: 80px;
	/* background-color: rgba(220, 231, 207, 0.742); */
	position: fixed;
	color: gray;
	margin: 20px 300px;
	top: 0px;
	width: 100%;
}

.navigation .button {
	height: 30px;
	/* border: 1px solid black; */
	display: inline-block;
	width: 6%;
	vertical-align: top;
	box-sizing: border-box;
	margin: 20px 10px;
	transition-duration: 0.3s;
}
.navigation .button:hover {
	color: red;
	transform: translateY(-8px);
}

.navigation .logo {
	text-align: center;
	padding: 10px;
	color: #fff;
	height: 42px;
	width: 185px;
	display: inline-block;
	margin-top: 14px;
	border: 1px solid black;
	background-image: url(../img/logo.png);

}

header {
	/* height: 500px; */
	/* background-color: rgb(231, 190, 190); */
	margin-top: 80px;
}


header .left-col .col .font {
	font-family: Bangers;
	font-size: 58px;
	margin-left: 138px;
	margin-top: 100px;
}

header .right-col, .left-col {
	height: 379px;
	/* border: 1px solid black; */
	display: inline-block;
	width: 10%;
	vertical-align: top;
	box-sizing: border-box;
	font-family: 'Sriracha', cursive;
}	

header button {
	margin-left: 175px;
	margin-top: 38px;
	font-family: Titillium Web;
	height: 25px;
	width: 100px;
}

header .right-col {
	color: white;
	background-image: url(../img/header-img.png);
	margin: 20px 200px;
	width: 380px;

}

.left-col {
	background-color: white;
	margin: 20px 200px;
}

header .left-col .col {
	display: inline-block;
	width: 100%;
	height: 50%;
	/* border: 1px solid white; */
}

.top-content {
	/* height: 200px; */
	margin: 20px 300px;
	/* background-color: rgb(192, 217, 245); */
}

.top-content .row {
	height: 100px;
	/* border: 1px solid white; */
	display: inline-block;
	width: 49%;
	vertical-align: top;
	box-sizing: border-box;
	/* margin: 20px 0; */
}

.bottom-content {
	margin: 20px 300px;
	/* background-color: rgb(253, 212, 251); */
}

.middle-img {
	color: white;
	height: 200px;
	margin: auto;
	width: 60%;
	background-image: url(../img/mid-page-accent.jpg);
}

.bottom-content .row {
	height: 100px;
	/* border: 1px solid white; */
	display: inline-block;
	width: 27%;
	vertical-align: top;
	box-sizing: border-box;
	margin: 20px;
}

.contact {
	height: 200px;
	background-color:white;
	width: 100%;
	padding:45px 0;
	margin: 20px 325px;
}

footer {
	height: 50px;
	text-align: center;
	padding: 20px;
	background-color: white;
}
